.calculator-container{
    border: 8px solid gray;
    height: 500px;
    width: 450px;
}
.calculator-screen{
    border: 4px solid black;
    height: 100px;
    width: 400px;
    position: relative;
    left: 22px;
    top: 10px;
    overflow: auto;
}
.calculator-buttons{
    /* border: 4px solid black; */
    height: 90px;
    width: 400px;
    position: relative;
    left: 22px;
    /* top: 20px; */
}
.number-cell{
    border: 4px solid black;
    height: 60px;
    width: 70px;
    display: inline-grid;
    align-items: center;
    text-align: center;
}
.sign-cell{
    border: 4px solid black;
    height: 60px;
    width: 70px;
    display: inline-grid;
    align-items: center;
    text-align: center;
    position: absolute;
    right: -7px;
}
.display-result{
    float: right;
    font-size:50px;
    

}