<div class="calculator-container">
    <div class="calculator-screen">
        <span class="display-result">{{result}}</span>
    </div>
    <br>
    <br>
    <div >
        <div class="calculator-buttons">
            <span class="number-cell" (click)="onClick($event)">
                <strong>1</strong>
            </span>&nbsp;&nbsp;&nbsp;
            <span class="number-cell" (click)="onClick($event)">
                <strong>2</strong>
            </span>&nbsp;&nbsp;&nbsp;
            <span class="number-cell" (click)="onClick($event)">
                <strong>3</strong>
            </span>&nbsp;&nbsp;&nbsp;
            <span class="sign-cell" (click)="onSignClick($event)">
                <strong>+</strong>
            </span>
        </div>

        <div class="calculator-buttons">
            <span class="number-cell" (click)="onClick($event)">
                <strong>4</strong>
            </span>&nbsp;&nbsp;&nbsp;
            <span class="number-cell" (click)="onClick($event)">
                <strong>5</strong>
            </span>&nbsp;&nbsp;&nbsp;
            <span class="number-cell" (click)="onClick($event)">
                <strong>6</strong>
            </span>&nbsp;&nbsp;&nbsp;
            <span class="sign-cell" (click)="onSignClick($event)">
                <strong>-</strong>
            </span>
        </div>

        <div class="calculator-buttons">
            <span class="number-cell" (click)="onClick($event)">
                <strong>7</strong>
            </span>&nbsp;&nbsp;&nbsp;
            <span class="number-cell" (click)="onClick($event)">
                <strong>8</strong>
            </span>&nbsp;&nbsp;&nbsp;
            <span class="number-cell" (click)="onClick($event)">
                <strong>9</strong>
            </span>&nbsp;&nbsp;&nbsp;
            <span class="sign-cell" (click)="onSignClick($event)">X</span>
        </div>

        <div class="calculator-buttons">
            <span class="number-cell" (click)="onDecimalClick($event)">
                <strong>-></strong>
            </span>&nbsp;&nbsp;&nbsp;
            <span class="number-cell" (click)="onClick($event)">
                <strong>0</strong>
            </span>&nbsp;&nbsp;&nbsp;
            <span class="number-cell" (click)="onEqualsClick($event)">
                <strong>=</strong>
            </span>&nbsp;&nbsp;&nbsp;
            <span class="sign-cell" (click)="onSignClick($event)">
                <strong>/</strong>
            </span>
        </div>
    </div>

</div>